[submodule "tests/Autoload"]
	path = tests/Autoload
	url = https://github.com/slpAkkie/php-class-autoloader
[submodule "tests/TestModule"]
	path = tests/TestModule
	url = https://github.com/slpAkkie/php-test-module
